/* styles.css */
.slide-enter {
    transform: translateX(100%);
    opacity: 0;
  }
  .slide-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 300ms, opacity 300ms;
  }
  .slide-exit {
    transform: translateX(0);
    opacity: 1;
  }
  .slide-exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
  }
  /* styles.css */
.zoom-out {
  transform: scale(1.0); /* Adjust the scale value as needed */
  transition: transform 0.3s ease-in-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 1s ease-out forwards;
}